In [ ]:
#Os conjuntos de dados InvestmentBankCDE
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/InvestmentBankCDE.csv")

In [ ]:
df

            ID  ... Investimento Tesouro Direto
0      71504.0  ...                           F
1      59751.0  ...                           F
2      11877.0  ...                           F
3      33701.0  ...                           T
4      62029.0  ...                           F
...        ...  ...                         ...
10077  93046.0  ...                           F
10078  55486.0  ...                           F
10079  95085.0  ...                           F
10080  45040.0  ...                           T
10081  85914.0  ...                           F

[10082 rows x 8 columns]

In [ ]:
#alterando para coluna categoricas
for item in df.columns:
  if item!='ID':
    df[item] = df[item].astype('category')

In [ ]:
#convertendo para inteiro
df['ID'] = pd.to_numeric(df['ID'], downcast='integer', errors='coerce')

In [ ]:
#informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10082 entries, 0 to 10081
Data columns (total 8 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                10082 non-null  int32
 1   Investimento Fundos_cambiais      10082 non-null  category
 2   Investimento Fundos_commodities   10082 non-null  category
 3   Investimento LCI                  10082 non-null  category
 4   Investimento LCA                  10082 non-null  category
 5   Investimento Poupanca             10082 non-null  category
 6   Investimento Fundos Multimercado  10082 non-null  category
 7   Investimento Tesouro Direto       10082 non-null  category
dtypes: category(7), int32(1)
memory usage: 109.1 KB

In [ ]:
#tamanho do data frame
df.shape

(10082, 8)

In [ ]:
#verificando valores unicos
for item in df.columns:
  if item!='ID':
    print(item + ': ')
    print(df[item].unique())

Investimento Fundos_cambiais:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento Fundos_commodities:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento LCI:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento LCA:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento Poupanca:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento Fundos Multimercado:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento Tesouro Direto:
['F', 'T']
Categories (2, object): ['F', 'T']

In [ ]:
# função para converter de F=>0 E v => 1
def convert_string(valor):
  if (valor == 'F'):
    return 0
  else: 
    return 1
for item in df.columns:
  if item!='ID':    
    df[item] = df[item].apply(convert_string)

In [ ]:
for item in df.columns:
  if item!='ID':
    print(item + ': ')
    print(df[item].unique())

Investimento Fundos_cambiais:
[0, 1]
Categories (2, int64): [0, 1]
Investimento Fundos_commodities:
[0, 1]
Categories (2, int64): [0, 1]
Investimento LCI:
[0, 1]
Categories (2, int64): [0, 1]
Investimento LCA:
[0, 1]
Categories (2, int64): [0, 1]
Investimento Poupanca:
[0, 1]
Categories (2, int64): [0, 1]
Investimento Fundos Multimercado:
[0, 1]
Categories (2, int64): [0, 1]
Investimento Tesouro Direto:
[0, 1]
Categories (2, int64): [0, 1]

In [ ]:
#Os conjuntos de dados retail bank
df_retail = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/RetailBankEFG.csv")

In [ ]:
df_retail.shape

(10082, 10)

In [ ]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10082 entries, 0 to 10081
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           10082 non-null  float64
 1   Financiamento Casa           10082 non-null  object
 2   Financiamento Carro          10082 non-null  object
 3   Emprestimo _pessoal          10082 non-null  object
 4   Emprestimo _consignado       10082 non-null  object
 5   Emprestimo _limite_especial  10082 non-null  object
 6   Emprestimo _educacao         10082 non-null  object
 7   Emprestimo _viagem           10082 non-null  object
 8   Investimento CDB             10082 non-null  object
 9   Investimento Fundos          10082 non-null  object
dtypes: float64(1), object(9)
memory usage: 787.8+ KB

In [ ]:
df_retail['ID'] = pd.to_numeric(df_retail['ID'], downcast='integer', errors='coerce')

In [ ]:
for item in df_retail.columns:
  if item!='ID':
    df_retail[item] = df_retail[item].astype('category')

In [ ]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10082 entries, 0 to 10081
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           10082 non-null  int32
 1   Financiamento Casa           10082 non-null  category
 2   Financiamento Carro          10082 non-null  category
 3   Emprestimo _pessoal          10082 non-null  category
 4   Emprestimo _consignado       10082 non-null  category
 5   Emprestimo _limite_especial  10082 non-null  category
 6   Emprestimo _educacao         10082 non-null  category
 7   Emprestimo _viagem           10082 non-null  category
 8   Investimento CDB             10082 non-null  category
 9   Investimento Fundos          10082 non-null  category
dtypes: category(9), int32(1)
memory usage: 129.0 KB

In [ ]:
for item in df_retail.columns:
  if item!='ID':
    print(item + ': ')
    print(df_retail[item].unique())

Financiamento Casa:
['T', 'F']
Categories (2, object): ['T', 'F']
Financiamento Carro:
['T', 'F']
Categories (2, object): ['T', 'F']
Emprestimo _pessoal:
['T', 'F']
Categories (2, object): ['T', 'F']
Emprestimo _consignado:
['T', 'F']
Categories (2, object): ['T', 'F']
Emprestimo _limite_especial:
['T', 'F']
Categories (2, object): ['T', 'F']
Emprestimo _educacao:
['F', 'T']
Categories (2, object): ['F', 'T']
Emprestimo _viagem:
['F', 'T']
Categories (2, object): ['F', 'T']
Investimento CDB:
['T', 'F']
Categories (2, object): ['T', 'F']
Investimento Fundos:
['F', 'T']
Categories (2, object): ['F', 'T']

In [ ]:
def convert_string(valor):
  if (valor == 'F'):
    return 0
  else: 
    return 1
for item in df_retail.columns:
  if item!='ID':    
    df_retail[item] = df_retail[item].apply(convert_string)

In [ ]:
#Os conjuntos de dados Insurance Company ABC
df_insurance = pd.read_csv("https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/InsuranceCompanyABC.csv")

In [ ]:
df_insurance

            ID   Idade  ...  seguro vida PF Seguro Residencial
0      71504.0  42.993  ...               T                  T
1      59751.0  26.373  ...               T                  T
2      11877.0  46.977  ...               F                  F
3      33701.0  24.311  ...               F                  F
4      62029.0  28.896  ...               F                  F
...        ...     ...  ...             ...                ...
10077  93046.0  40.087  ...               F                  T
10078  55486.0  31.589  ...               F                  F
10079  95085.0  18.783  ...               F                  F
10080  45040.0  19.480  ...               F                  F
10081  85914.0  38.649  ...               F                  F

[10082 rows x 9 columns]

In [ ]:
df_insurance.drop(['Idade','Renda','Regiao','Genero'],  axis='columns', inplace=True)

In [ ]:
df_insurance['ID'] = pd.to_numeric(df_retail['ID'], downcast='integer', errors='coerce')

In [ ]:
for item in df_insurance.columns:
  if item!='ID':
    df_insurance[item] = df_insurance[item].astype('category')

In [ ]:
def convert_string(valor):
  if (valor == 'F'):
    return 0
  else: 
    return 1
for item in df_insurance.columns:
  if item!='ID':    
    df_insurance[item] = df_insurance[item].apply(convert_string)

In [ ]:
df_insurance

          ID seguro auto seguro vida Emp seguro vida PF Seguro Residencial
0      71504           1               1              1                  1
1      59751           1               1              1                  1
2      11877           0               0              0                  0
3      33701           0               0              0                  0
4      62029           0               0              0                  0
...      ...         ...             ...            ...                ...
10077  93046           0               0              0                  1
10078  55486           0               0              0                  0
10079  95085           0               0              0                  0
10080  45040           0               0              0                  0
10081  85914           0               0              0                  0

[10082 rows x 5 columns]

In [ ]:
# dfall= pd.concat([df,df_retail],join="outer")
# excluindo duplicados , deixando o primeiro
df_2 = df.drop_duplicates(['ID'],keep='first', inplace=False)
df_retail_2 = df_retail.drop_duplicates(['ID'], keep='first',inplace=False)
dfall = pd.merge(df_2, df_retail_2, how="outer", on=["ID"])
df_insurance_2 = df_insurance.drop_duplicates(['ID'],keep='first',inplace=False)
dfall_2 = pd.merge(df_insurance_2, dfall, how="outer", on=["ID"])

In [ ]:
dfall.loc[dfall['ID']=='59751']

Empty DataFrame
Columns: [ID, Investimento Fundos_cambiais, Investimento Fundos_commodities, Investimento LCI, Investimento LCA, Investimento Poupanca, Investimento Fundos Multimercado, Investimento Tesouro Direto, Financiamento Casa, Financiamento Carro, Emprestimo _pessoal, Emprestimo _consignado, Emprestimo _limite_especial, Emprestimo _educacao, Emprestimo _viagem, Investimento CDB, Investimento Fundos]
Index: []

In [ ]:
#fazendo o merge entre os 3 datasets
df_2 = df.drop_duplicates(['ID'],keep='first', inplace=False)
df_retail_2 = df_retail.drop_duplicates(['ID'], keep='first',inplace=False)
dfall = pd.merge(df_2, df_retail_2, how="outer", on=["ID"])
dfall_2 = pd.merge(df_insurance, dfall, how="inner", on=["ID"])
dfall_3 = dfall_2.drop_duplicates(['ID'], keep='first',inplace=False)

In [ ]:
#mostrar todos as colunas
dfall_3.columns

Index(['ID', 'seguro auto', 'seguro vida Emp', 'seguro vida PF',
       'Seguro Residencial', 'Investimento Fundos_cambiais',
       'Investimento Fundos_commodities', 'Investimento LCI',
       'Investimento LCA', 'Investimento Poupanca',
       'Investimento Fundos Multimercado', 'Investimento Tesouro Direto',
       'Financiamento Casa', 'Financiamento Carro', 'Emprestimo _pessoal',
       'Emprestimo _consignado', 'Emprestimo _limite_especial',
       'Emprestimo _educacao', 'Emprestimo _viagem', 'Investimento CDB',
       'Investimento Fundos'],
      dtype='object')

In [ ]:
#vendo os valores nulos
dfall_3.isna().sum()

ID                                  0
seguro auto                         0
seguro vida Emp                     0
seguro vida PF                      0
Seguro Residencial                  0
Investimento Fundos_cambiais        0
Investimento Fundos_commodities     0
Investimento LCI                    0
Investimento LCA                    0
Investimento Poupanca               0
Investimento Fundos Multimercado    0
Investimento Tesouro Direto         0
Financiamento Casa                  0
Financiamento Carro                 0
Emprestimo _pessoal                 0
Emprestimo _consignado              0
Emprestimo _limite_especial         0
Emprestimo _educacao                0
Emprestimo _viagem                  0
Investimento CDB                    0
Investimento Fundos                 0
dtype: int64

In [ ]:
dfall_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9530 entries, 0 to 10081
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                9530 non-null   int32
 1   seguro auto                       9530 non-null   category
 2   seguro vida Emp                   9530 non-null   category
 3   seguro vida PF                    9530 non-null   category
 4   Seguro Residencial                9530 non-null   category
 5   Investimento Fundos_cambiais      9530 non-null   category
 6   Investimento Fundos_commodities   9530 non-null   category
 7   Investimento LCI                  9530 non-null   category
 8   Investimento LCA                  9530 non-null   category
 9   Investimento Poupanca             9530 non-null   category
 10  Investimento Fundos Multimercado  9530 non-null   category
 11  Investimento Tesouro Direto       9530 non-null   category
 12  Financiamento Casa                9530 non-null   category
 13  Financiamento Carro               9530 non-null   category
 14  Emprestimo _pessoal               9530 non-null   category
 15  Emprestimo _consignado            9530 non-null   category
 16  Emprestimo _limite_especial       9530 non-null   category
 17  Emprestimo _educacao              9530 non-null   category
 18  Emprestimo _viagem                9530 non-null   category
 19  Investimento CDB                  9530 non-null   category
 20  Investimento Fundos               9530 non-null   category
dtypes: category(20), int32(1)
memory usage: 299.7 KB

In [ ]:
dfall_3.head()

      ID seguro auto  ... Investimento CDB Investimento Fundos
0  71504           1  ...                1                   0
1  59751           1  ...                0                   1
2  11877           0  ...                0                   0
3  33701           0  ...                0                   0
4  62029           0  ...                1                   1

[5 rows x 21 columns]

In [ ]:
#dfall_2.to_csv('planos.csv',index_label=None, index=False)

In [ ]:
#excluindo os duplicados
dropdup = dfall_3.drop_duplicates(['ID'],keep='first',inplace=False)

In [ ]:
dropdup

          ID seguro auto  ... Investimento CDB Investimento Fundos
0      71504           1  ...                1                   0
1      59751           1  ...                0                   1
2      11877           0  ...                0                   0
3      33701           0  ...                0                   0
4      62029           0  ...                1                   1
...      ...         ...  ...              ...                 ...
10077  93046           0  ...                0                   0
10078  55486           0  ...                1                   0
10079  95085           0  ...                1                   1
10080  45040           0  ...                1                   0
10081  85914           0  ...                1                   1

[9530 rows x 21 columns]

In [ ]:
# importando o modulo apriori
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
#mostrando os padrões mais frequentes, suporte 0.1
from mlxtend.frequent_patterns import apriori
apriori(dropdup.iloc[:,1:], min_support=0.1,max_len=3, use_colnames=True)

      support                                           itemsets
0     0.27765                                      (seguro auto)
1    0.344911                                  (seguro vida Emp)
2    0.249843                                   (seguro vida PF)
3    0.332004                               (Seguro Residencial)
4    0.344491                     (Investimento Fundos_cambiais)
..        ...                                                ...
140  0.114586  (Emprestimo _consignado, Emprestimo _limite_es...
141  0.114586  (Emprestimo _viagem, Emprestimo _educacao, Inv...
142   0.11553  (Emprestimo _viagem, Emprestimo _educacao, Inv...
143  0.117838  (Emprestimo _educacao, Investimento Fundos, In...
144  0.127177  (Emprestimo _viagem, Investimento Fundos, Inve...

[145 rows x 2 columns]

In [ ]:
frq_items  = apriori(dropdup.iloc[:,1:], min_support=0.1,max_len=3,use_colnames=True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1 )
#rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules
#rule = apriori(dropdup.iloc[:,1:], min_support = 0.3, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

                                 antecedents  ... conviction
0                          (seguro vida Emp)  ...   1.872528
1                              (seguro auto)  ...   2.764539
2                           (seguro vida PF)  ...   3.747095
3                              (seguro auto)  ...   2.741597
4                       (Seguro Residencial)  ...   1.963502
..                                       ...  ...        ...
419   (Emprestimo _viagem, Investimento CDB)  ...   2.656675
420  (Investimento Fundos, Investimento CDB)  ...   1.680929
421                     (Emprestimo _viagem)  ...   1.585099
422                    (Investimento Fundos)  ...   1.342295
423                       (Investimento CDB)  ...   1.144153

[424 rows x 9 columns]

In [ ]:
#verificando as regras
#rules['result'] = rules["antecedents"].apply(lambda x: [str(item) for item in x])
rules['result'] = rules["antecedents"].apply(lambda x: type(x))

In [ ]:
rules

                                 antecedents  ...               result
0                          (seguro vida Emp)  ...  <class 'frozenset'>
1                              (seguro auto)  ...  <class 'frozenset'>
2                           (seguro vida PF)  ...  <class 'frozenset'>
3                              (seguro auto)  ...  <class 'frozenset'>
4                       (Seguro Residencial)  ...  <class 'frozenset'>
..                                       ...  ...                  ...
419   (Emprestimo _viagem, Investimento CDB)  ...  <class 'frozenset'>
420  (Investimento Fundos, Investimento CDB)  ...  <class 'frozenset'>
421                     (Emprestimo _viagem)  ...  <class 'frozenset'>
422                    (Investimento Fundos)  ...  <class 'frozenset'>
423                       (Investimento CDB)  ...  <class 'frozenset'>

[424 rows x 10 columns]

In [ ]:
dir(frozenset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [ ]:
rules[rules['confidence'] > 0.80]

                                           antecedents  ... result
2                                     (seguro vida PF)  ...      1
10                                    (seguro vida PF)  ...      1
26                                    (seguro vida PF)  ...      1
122                             (Emprestimo _educacao)  ...      1
124                             (Emprestimo _educacao)  ...      1
132                  (seguro vida PF, seguro vida Emp)  ...      2
133                      (seguro vida PF, seguro auto)  ...      2
134                     (seguro vida Emp, seguro auto)  ...      2
138              (Seguro Residencial, seguro vida Emp)  ...      2
139                  (Seguro Residencial, seguro auto)  ...      2
140                     (seguro vida Emp, seguro auto)  ...      2
150               (seguro vida PF, Seguro Residencial)  ...      2
151                      (seguro vida PF, seguro auto)  ...      2
152                  (Seguro Residencial, seguro auto)  ...      2
157                 (seguro vida PF, Investimento CDB)  ...      2
168               (seguro vida PF, Seguro Residencial)  ...      2
169                  (seguro vida PF, seguro vida Emp)  ...      2
170              (Seguro Residencial, seguro vida Emp)  ...      2
171                                   (seguro vida PF)  ...      1
175                 (seguro vida PF, Investimento CDB)  ...      2
186                 (seguro vida PF, Investimento CDB)  ...      2
190   (Investimento Fundos_cambiais, Investimento LCI)  ...      2
191  (Investimento Fundos_cambiais, Investimento Fu...  ...      2
192  (Investimento LCI, Investimento Fundos_commodi...  ...      2
196   (Investimento Fundos_cambiais, Investimento LCA)  ...      2
198  (Investimento LCA, Investimento Fundos_commodi...  ...      2
227   (Investimento Fundos_cambiais, Investimento LCA)  ...      2
228               (Investimento LCI, Investimento LCA)  ...      2
258   (Investimento Fundos_cambiais, Investimento LCA)  ...      2
286  (Investimento Fundos, Investimento Fundos_camb...  ...      2
293               (Investimento LCI, Investimento LCA)  ...      2
294  (Investimento LCA, Investimento Fundos_commodi...  ...      2
316            (Investimento Fundos, Investimento LCI)  ...      2
324  (Investimento LCA, Investimento Fundos_commodi...  ...      2
346  (Investimento Fundos, Investimento Fundos_comm...  ...      2
354               (Investimento LCI, Investimento LCA)  ...      2
376            (Investimento Fundos, Investimento LCI)  ...      2
394  (Emprestimo _consignado, Emprestimo _limite_es...  ...      2
395      (Emprestimo _consignado, Emprestimo _pessoal)  ...      2
396  (Emprestimo _limite_especial, Emprestimo _pess...  ...      2
400         (Emprestimo _viagem, Emprestimo _educacao)  ...      2
402           (Emprestimo _educacao, Investimento CDB)  ...      2
406         (Emprestimo _viagem, Emprestimo _educacao)  ...      2
408        (Emprestimo _educacao, Investimento Fundos)  ...      2
412        (Emprestimo _educacao, Investimento Fundos)  ...      2
413           (Emprestimo _educacao, Investimento CDB)  ...      2
418          (Emprestimo _viagem, Investimento Fundos)  ...      2

[47 rows x 10 columns]

In [ ]:
#filtrar somente de confianças de 0.80
rules_filtrados=rules[rules['confidence'] > 0.80]

In [ ]:
rules_filtrados[rules_filtrados['antecedents']== frozenset({'seguro vida PF'})][['consequents','confidence']].sort_values('confidence', ascending=False).head(3)

             consequents  confidence
26  (Seguro Residencial)    0.859303
10     (seguro vida Emp)    0.826543
2          (seguro auto)    0.807224

In [ ]:
#carregando a o dataset para predizer
df_answer = pd.read_csv('https://raw.githubusercontent.com/maratonadev/desafio-3-2021/main/assets/data/ANSWERS.csv')
df_answer

             ID   Idade     Renda  ... CONFIDENCE_2  RECOMMENDATION_3 CONFIDENCE_3
0        1004.0  40.685  8474.687  ...          NaN               NaN          NaN
1        1028.0  56.693  7996.353  ...          NaN               NaN          NaN
2        1034.0  49.413  8624.335  ...          NaN               NaN          NaN
3        1035.0  22.764  6885.196  ...          NaN               NaN          NaN
4        1039.0  22.059  7749.965  ...          NaN               NaN          NaN
...         ...     ...       ...  ...          ...               ...          ...
13725  100932.0  28.659  8804.506  ...          NaN               NaN          NaN
13726  100962.0  20.505  6809.895  ...          NaN               NaN          NaN
13727  100963.0  21.067  6201.485  ...          NaN               NaN          NaN
13728  100978.0  43.481  8130.084  ...          NaN               NaN          NaN
13729  100981.0  41.284  8226.256  ...          NaN               NaN          NaN

[13730 rows x 31 columns]

In [ ]:
df_tratado =  df_answer.drop(['Idade','Renda','Regiao','Genero','RECOMMENDATION_1','CONFIDENCE_1','RECOMMENDATION_2','CONFIDENCE_2','RECOMMENDATION_3','CONFIDENCE_3'],  axis='columns', inplace=False)
#df_tratado =  df_answer.drop(['Idade','Renda','Regiao','Genero',],  axis='columns', inplace=False)

In [ ]:
df_tratado['ID'] = pd.to_numeric(df_tratado['ID'], downcast='integer', errors='coerce')

In [ ]:
df_tratado

           ID seguro auto  ... Investimento CDB Investimento Fundos
0        1004           F  ...                T                   F
1        1028           F  ...                F                   F
2        1034           T  ...                T                   F
3        1035           F  ...                F                   F
4        1039           T  ...                F                   F
...       ...         ...  ...              ...                 ...
13725  100932           F  ...                F                   F
13726  100962           F  ...                T                   F
13727  100963           F  ...                T                   F
13728  100978           T  ...                T                   F
13729  100981           T  ...                T                   F

[13730 rows x 21 columns]

In [ ]:
def convert_string(valor):
  if (valor == 'F'):
    return 0
  elif (valor=='T'): 
    return 1
for item in df_tratado.columns:
  if item!='ID':    
    df_tratado[item] = df_tratado[item].apply(convert_string)

In [ ]:
df_tratado

           ID  seguro auto  ...  Investimento CDB  Investimento Fundos
0        1004            0  ...                 1                    0
1        1028            0  ...                 0                    0
2        1034            1  ...                 1                    0
3        1035            0  ...                 0                    0
4        1039            1  ...                 0                    0
...       ...          ...  ...               ...                  ...
13725  100932            0  ...                 0                    0
13726  100962            0  ...                 1                    0
13727  100963            0  ...                 1                    0
13728  100978            1  ...                 1                    0
13729  100981            1  ...                 1                    0

[13730 rows x 21 columns]

In [ ]:
df_tratado['q_antecedentes']=0

In [ ]:
 df_tratado.loc[0,['q_antecedentes']].values[0]

0

In [ ]:
df_tratado.loc[0,['ID']].values[0]

1004

In [ ]:
#teste dpara frozenset
rules_filtrados[rules_filtrados['antecedents']== frozenset({'Seguro Residencial', 'Investimento LCA'})][['consequents','confidence']].sort_values('confidence', ascending=False).head(3)

Empty DataFrame
Columns: [consequents, confidence]
Index: []

In [ ]:
df_tratado['produtos']=''
df_tratado =  df_tratado.drop(['produtos',],  axis='columns', inplace=False)

In [ ]:
df_tratado.head(30)

      ID  seguro auto  ...  RECOMMENDATION_3  CONFIDENCE_3
0   1004            0  ...
1   1028            0  ...
2   1034            1  ...
3   1035            0  ...
4   1039            1  ...
5   1048            0  ...
6   1067            0  ...
7   1068            0  ...
8   1085            0  ...
9   1092            0  ...
10  1094            0  ...
11  1116            0  ...
12  1119            0  ...
13  1127            0  ...
14  1132            1  ...
15  1177            1  ...
16  1194            0  ...
17  1198            1  ...
18  1198            1  ...
19  1198            0  ...
20  1198            0  ...
21  1198            1  ...
22  1198            0  ...
23  1198            0  ...
24  1198            1  ...
25  1210            0  ...
26  1217            0  ...
27  1239            1  ...
28  1256            0  ...
29  1264            0  ...

[30 rows x 27 columns]

In [ ]:
#df_tratado.iloc[0,:]
df_tratado['RECOMMENDATION_1']=""
df_tratado['CONFIDENCE_1']=''
df_tratado['RECOMMENDATION_2']=''
df_tratado['CONFIDENCE_2']=''
df_tratado['RECOMMENDATION_3']=''
df_tratado['CONFIDENCE_3']=''

In [ ]:
# r=frozenset({'Investimento CDB'})
# element = next(iter(r))
# element

'Investimento CDB'

In [ ]:
#s=pd.DataFrame(df_tratado.iloc[1,1:] == 1,columns=['produto'])
#df_tratado.columns[0]
#df_tratado.columns[0].str.values()
#df_tratado.iloc[0,:]
for i in range(df_tratado.shape[0]):
  print(i)
  lista = []
  for item in df_tratado.columns:
    if item!='ID': 
      if df_tratado.loc[i,[item]].values[0]  == 1:
        lista.append(item.strip().rstrip("'"))
  if (len(lista) <=5 and len(lista)>0):      
    # df_tratado.loc[i,['produtos']] = lista
    #print(frozenset(lista))
    regras = rules_filtrados[rules_filtrados['antecedents']== frozenset(lista)][['consequents','confidence']].sort_values('confidence', ascending=False).head(3)
    if regras.shape[0]>0:
      df_tratado.loc[i,['RECOMMENDATION_1']]=next(iter(regras.iloc[0,0]))
      df_tratado.loc[i,['CONFIDENCE_1']]=round(regras.iloc[0,1]*100,2)
      # print(next(iter(regras.iloc[0,0])))
      # print(round(regras.iloc[0,1],2))
      # #print(regras.loc[0,['consequents']].values[0])
      # #print(regras.loc[0,['confidence']].values[0])
      #  #df_tratado.loc[i,['RECOMMENDATION_1']]=regras[]
      if regras.shape[0]>1:
        df_tratado.loc[i,['RECOMMENDATION_2']]=next(iter(regras.iloc[1,0]))
        df_tratado.loc[i,['CONFIDENCE_2']]=round(regras.iloc[1,1]*100,2)
        # print('1',next(iter(regras.iloc[1,0])))
        # print(round(regras.iloc[1,1],2))
      if regras.shape[0]>2:  
        df_tratado.loc[i,['RECOMMENDATION_3']]=next(iter(regras.iloc[2,0]))
        df_tratado.loc[i,['CONFIDENCE_3']]=round(regras.iloc[2,1]*100,2)
        # print('2',next(iter(regras.iloc[2,0])))
        # print(round(regras.iloc[2,1],2))
  # if i == 40:
  #   break
  #df_tratado.loc[i,'item_possui'] = (lista)

In [ ]:
df_tratado[~df_tratado["RECOMMENDATION_3"].isna()]

           ID  seguro auto  ...  RECOMMENDATION_3  CONFIDENCE_3
0        1004            0  ...
1        1028            0  ...
2        1034            1  ...
3        1035            0  ...
4        1039            1  ...
...       ...          ...  ...               ...           ...
13725  100932            0  ...
13726  100962            0  ...
13727  100963            0  ...
13728  100978            1  ...
13729  100981            1  ...

[13730 rows x 27 columns]

In [ ]:
df_answer_final = df_tratado

In [ ]:
df_answer_final['ID'] = df_answer_final['ID'].apply(float)

In [ ]:
df_answer_final

             ID  seguro auto  ...  RECOMMENDATION_3  CONFIDENCE_3
0        1004.0            0  ...
1        1028.0            0  ...
2        1034.0            1  ...
3        1035.0            0  ...
4        1039.0            1  ...
...         ...          ...  ...               ...           ...
13725  100932.0            0  ...
13726  100962.0            0  ...
13727  100963.0            0  ...
13728  100978.0            1  ...
13729  100981.0            1  ...

[13730 rows x 27 columns]

In [ ]:
df_answer_final.to_csv('answer.csv',index_label=None, index=False)

In [ ]:
df2

In [ ]:
df_tratado.to_csv('answer.csv',index_label=None, index=False)

In [ ]:
# #converter colunas em linhas 
# final_2 = dropdup.melt(id_vars=[ 'ID'], 
#         var_name="produto", 
#         value_name="Value")

In [ ]:
# final_2['produto'].unique()

In [ ]:
# final_2.columns

In [ ]:
# final_2.info()

In [ ]:
# final_2['Value'] = pd.to_numeric(final_2['Value'], downcast='integer', errors='coerce')

In [ ]:
# Transposição de linhas(users_id) em colunas
# produto_pivot = final_2.pivot_table(columns='ID', index='produto', values='Value')

In [ ]:
# produto_pivot

In [ ]:
# produto_pivot.fillna(0, inplace=True)

In [ ]:
# from scipy.sparse import csr_matrix
# produto_sparse = csr_matrix(produto_pivot)

In [ ]:
# from sklearn.neighbors import NearestNeighbors
# model = NearestNeighbors(algorithm='brute',n_neighbors=3)
# model.fit(produto_sparse)

In [ ]:
# produto_pivot.iloc[0, :].values.reshape(1, -1)

In [ ]:
# distances, suggestions = model.kneighbors(produto_pivot.iloc[0, :].values.reshape(1, -1))

In [ ]:
# for i in range(len(suggestions)):
#   print(produto_pivot.index[suggestions[i]])

In [ ]:
# distances

In [ ]:
# Transposição de linhas(users_id) em colunas
# produto_pivot2 = final_2.pivot_table(columns='produto', index='ID', values='Value')

In [ ]:
# produto_pivot2

In [ ]:
# from scipy.sparse import csr_matrix
# produto_sparse2 = csr_matrix(produto_pivot2)
# from sklearn.neighbors import NearestNeighbors
# model = NearestNeighbors(algorithm='brute',n_neighbors=3)
# model.fit(produto_sparse2)
# produto_pivot2

In [ ]:
# model

In [ ]:
#df_pivot = dropdup.transpose()

In [ ]:
# transpor, trocar a linha por coluna
#df_pivot = dfall_3.transpose()

In [ ]:
#dropa a 1 linha
#final = df_pivot.drop(df_pivot.index[0])

In [ ]:
#final.reset_index(level=0, inplace=True)

In [ ]:
#final.rename(columns={"index":"produto"})

In [ ]:
#df_pivot = df_pivot.transpose()

In [ ]:
#df_pivot

 temos muitos valores zero e no agrupamento, esse poder de computação aumentará para calcular a distância dos valores zero, portanto, converteremos a tabela dinâmica para a matriz esparsa e, em seguida, alimentaremos o modelo.

In [ ]:
#  model.kneighbors(df_tratado[4, :])
# df_tratado.iloc[4,1 :].values.reshape(1, -1)
# distance, suggestions = model.kneighbors(df_tratado.iloc[4,1 :].values.reshape(1, -1))

In [ ]:


# produto_pivot2.index(suggestions[0][0])

In [ ]:
# for i in range(1):
#   print(produto_pivot2.index[suggestions[i]])

In [ ]:
# for i in range(len(suggestions)):
#   print(produto_pivot2.iloc[i,:])